* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fondo3.jpg);
    width: 90%;
    margin: 0 auto;
}


#fotocurriculum{
    display: flex;
    justify-content: flex-start;
    height: 148px;
    border: 1px solid blue;
    margin-bottom: 2px;
}


main div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

 a{
    font-size: 23px;
    text-decoration: none;
    transition: 0.4s;
    text-decoration: none;
    font-size: 24px;
    padding: 25px;
    font-family: 'Roboto Condensed',;
    cursor: pointer;
    padding: 10px 63px !important;

}

.nav-item:hover{

    background-color:#b17c54;;
    border-radius: 60px;
    opacity: 90%;
    height: 56px;
    color: black;
}

#formacion {
    font-size: 23px;
    font-family: 'Heebo';
    background-color: #734222;
    color: white;
    border-radius: 38px;
    margin-bottom: 30px;
    padding: 2px 11px;
}

.cursos {
    margin-top: 52px;
    font-size: 20px;
    background-color: rgba(249, 203, 161, 0.8);
    padding: 35px;
    border: 1px;
    border-radius: 15px;
}

ul{
  display: flex;
  flex-direction: column;
  align-items: center;

}


#experiencia{
    font-size: 23px;
    font-family: 'Heebo';
    background-color: #734222;
    color: white;
    border-radius: 38px;
    margin-bottom: 30px;
    padding: 2px 11px;
}


 .trabajos{
    margin-top: 52px;
    font-size: 20px;
    background-color: rgba(249, 203, 161, 0.8);
    padding: 35px;
    border: 1px;
    border-radius: 15px;
    
    }


form {
    margin-top: 52px;
    width: 70%;
    
    }

::placeholder{
color: black;

    }
    

#telefono,
#name,
#apellidos,
#email{
    height: 40px;
    width: 80%;
    border: 2px;
    border-radius: 10px;
}
           


.enviar a{
color: black;
text-decoration: none;

}
.navbar-light .navbar-nav .nav-link{
    color: white !important;
}

.enviar button{
background-color: #F2D2AD;
border: 1px;
border-radius: 10px;
padding: 4px;
margin-top: 18px;
}


label {
color: white;
font-size: 23px;
background-color:#b17c54;
font-family: 'Heebo';

}

footer{
display: flex;
margin-top: 40px;
justify-content: center;
}

footer img{
padding: 3px;
height: 70px;
}


#sobremi {
font-size: 23px;
font-family: 'Heebo';
color: white;
border-radius: 10px;
background-color: #734222;
text-align: center;
padding-right: 18px;
border-radius: 15px;
}

#textosobremi {
text-align: center;
margin-top: 32px;
font-size: 20px;
background-color: rgba(249, 203, 161, 0.8);
padding: 22px;
font-family: 'Heebo';
text-indent: 18px;
width: 60%;
border: 1px;
border-radius: 15px;
}

#nombrefoto  {

    text-align: center;
}


.bg-light {
    
    background-color: #734222 !important; 
    border-radius: 30px;
}

main span{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 20px;
    
   
      }

#home{
    display: flex;
    justify-content: center; align-items: flex-end;
}

@media (max-width: 700px) {
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }

.img {
    width: 100%;
    margin: auto;
}
        
    
}

